########################################################################
# FOLDERS
########################################################################

config/templates/
coverage
dist
generated/
node_modules/

########################################################################
# FILES
########################################################################

# seed.sql